@tailwind base;
@tailwind components;
@tailwind utilities;


  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 34, 0, 51;
    --background-end-rgb: 44, 0 ,51;
  }
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    );
  animation: fadeIn 1s ease-in-out; /* Add fade-in animation */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0.8) translateY(20px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.card {
  animation: popIn 0.5s ease-out forwards;
  opacity: 0;
}

@keyframes pulse {
  0%, 100% {
    border-color: rgba(255, 215, 0, 1); /* Original border color */
  }
  50% {
    border-color: rgba(255, 215, 0, 0.5); /* Faded border color */
  }
}

.animate-pulse {
  animation: pulse 1.5s infinite;
}